#searchbar-btn {
    margin-left: 1.5%;
    height: 2.5rem;
    align-items: center;
    flex: 1; 
    display: flex;
  }
  
  #searchbar-btn input {
    padding-left: 1rem;
    flex: 1; 
    height: 100%;
    font-size: 14px;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  #searchbar-btn button {
    height: 100%;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 1%;
    background-color: #1e90ff;
    padding: 0.8rem 1.5rem;
    line-height: 1rem; 
}

  
  #searchbar-btn button:hover {
    background-color: #1973cc;
  }

  @media screen and (max-width: 768px) {
    #searchbar-btn button{
      text-wrap: nowrap;
      padding: 0.6rem 1.2rem;
    }

    #searchbar-btn{
      margin-left: 0;
    }
  }

  @media screen and (min-width: 2560px) {
    #searchbar-btn{
      height: 3rem;
    }

    #searchbar-btn input{
      font-size: 20px;
    }
  }