.staffRow{
  background-color: white;
}

.col1 img {
  margin-top: 0.5rem;
  max-width: 50%;
  height: auto;
  border-radius: 50%;
}

.editBtn,
.deleteBtn {
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    margin: 0;
    cursor: pointer;
    text-wrap: nowrap;
    display: flex; 
    align-items: center; 
}

#LinkedInLogo{
  color: blue;
  width: 50px;
  height: 50px;
}

.editIcon,
.deleteIcon {
    margin-left: 8px;
    fill: white;
    vertical-align: middle;
}


.editBtn {
  background-color: #1e90ff;
  padding: 0.5rem 1.2rem;
}

.editBtn:hover {
  background-color: #1973cc;
}

.deleteBtn {
  background-color: #ff8686;
  padding: 0.5rem 1rem;
}

.deleteBtn:hover {
  background-color: #d66262;
}

.col1,.col2,.col3,.col4,.col5,.col6 {
  font-size: 1.1rem;
  /* border: 1px solid black; */
}

.col1 {
  width: 7%;
}

.col4 {
  text-align: left;
  width: 15%;
}

.col2,
.col3 {
  text-wrap:wrap;
  text-align: left;
  width: 18%;
}

.col5,
.col6 {
  width: 6%;
}

@media screen and (max-width: 768px) {
  .staffRow td {
      font-size: 0.9rem;
      margin-bottom: 1rem; 
      text-align: center;
  }

  .editBtn,
  .deleteBtn {
      font-size: 12px;
      padding: 0.3rem 0.3rem;
      text-wrap: nowrap;
  }

  .col1,.col3,.col4{
    width: 17%;
  }

  .col2{
    width: 19%;
  }

  .col5 button,.col6 button{
    padding: 0.6rem 0.5rem;
    border-radius: 8px;
  }

  .col5,.col6{
    width: 15%;
  }
}