.academicYear {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 3.1rem;
}

.ayLabel, .ayDropdown {
    flex: 1; 
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: white;
    white-space: nowrap;
}

.ayDropdown {
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 0 0.7rem 0.7rem 0;
    padding: 0.7rem 1.7rem;
    height:100%;
}

.ayLabel {
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.7rem 0 0 0.7rem;
    height:100%;
}

@media screen and (max-width: 768px) {
    .academicYear{
      margin: auto;
      margin-top: 0;
    }
  }
